<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>Report Card | Global Logic</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <!--[if !IE]><!-->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--<![endif]-->
    <!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="assets/css/style.static.css" />
	<link rel="stylesheet" type="text/css" media="print" href="assets/css/print.css" />
	<![endif]-->
    <!--[if gt IE 8]>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<![endif]-->

    <!--<script src="assets/js/libs/modernizr-2.6.2.min.js"></script>-->

    <script src="./assets/js/libs/angular.min.js"></script>
    <script src="./assets/js/libs/jquery-2.2.3.min.js"></script>

</head>

<body>
    <form>
        <div id="outer-wrap">
            <div id="inner-wrap">
                <div id="main" class="purple l-one-column" role="main" tabindex="0" ng-app="appReportCard" ng-controller="ctrlReportCard">
                    <div class="l-margins">
                        <div id="content-container" class="clearfix index-table">
                            <div id="content-main">
                                <h1>Report Card</h1>
                                <div id="message" class="{{messageClass}}">
                                    {{message}}
                                </div>
                                <table class="result">
                                    <thead>
                                        <tr>
                                            <th colspan="6">Add new record</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="name" colspan="3">
                                                <input type="text" placeholder="Student's name" ng-model="name">
                                            </td>
                                            <td class="marks">
                                                <input type="number" placeholder="marks" ng-model="marks">
                                            </td>
                                            <td class="edit" colspan="2">
                                                <input type="button" class="submit button primary" value="Submit" ng-click="addNewResult(name, marks)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <h4>Student summary</h4>
                                <table class="result">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Avatar</th>
                                            <th>Name</th>
                                            <th>Marks</th>
                                            <th>Status</th>
                                            <th>Edit/Save</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in results" ng-include="getTemplate(result)"></tr>
                                    </tbody>
                                </table>
                                <hr>
                                <table class="marks">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Marks summary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Mimimum: {{minimum}}</b>
                                            </td>
                                            <td>
                                                <b>Average: {{average}}</b>
                                            </td>
                                            <td>
                                                <b>Maximum: {{maximum}}</b>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer" role="contentinfo">
                    <div class="l-margins footer-padding clearfix">
                        <div class="author">Author: Anand Dev Singh | Global Logic | ananddev.singh@globallogic.com</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
            
        Array.prototype.min = function () {            
            return (!isFinite(Math.min.apply(Math, this)) ? 0 :  Math.min.apply(null, this)) ;
        };
        
        Array.prototype.avg = function () {            
            var sum = this.reduce(function(a, b) { return a + b; }, 0);            
            return sum === 0 ? 0 : parseFloat(sum/this.length).toFixed(2);
        };
        
        Array.prototype.max = function () {
            return (!isFinite(Math.max.apply(Math, this)) ? 0 :  Math.max.apply(null, this)) ;
        };

        var appRC = angular.module("appReportCard", []);

        appRC.factory("factResult", function () {
            function Result() {}
            Result.prototype.toggle = function () {
                this.isSelected = !this.isSelected;
                this.isPassed = this.marks < 65 ? false : true;
            }

            return function (defaults) {
                var result = new Result();
                result.id = defaults.id;
                result.name = defaults.name || 'N/A';
                result.marks = parseInt(defaults.marks, 10) || 0;
                result.isPassed = defaults.marks < 65 ? false : true;
                return result;
            }
        })

        appRC.factory("factResultStorage", ["factResult", function (factResult) {

            var storage = window.localStorage;
            var maxResultId = 0;

            function getAllResult() {
                var result = [];
                for (var i = 0; i < storage.length; i++) {
                    var key = storage.key(i);
                    var resultId = parseInt(key, 10);
                    if (resultId > maxResultId)
                        maxResultId = resultId;
                    var value = storage.getItem(key);
                    var resultObjData = angular.fromJson(value);
                    result.push(factResult(resultObjData));
                }
                return result;
            }

            function saveResult(result) {
                if (!result.id)
                    result.id = ++maxResultId;
                storage.setItem(result.id, angular.toJson(result));
            }

            function editResult(result) {
                storage.setItem(result.id, angular.toJson(result));
            }

            return {
                getAll: getAllResult,
                save: saveResult,
                edit: editResult
            };

        }]);

        appRC.factory("factCalculate", ["factResultStorage", function (factResultStorage) {

            return function (results) {
                var marks = [];
                
                results.map(function (result) {
                    marks.push(result.marks);
                });

                return {
                    min: marks.min(),
                    avg: marks.avg(),
                    max: marks.max()
                }
            }
        }])

        appRC.controller("ctrlReportCard", ["$scope", "factResult", "factResultStorage", "factCalculate", function ($scope, factResult, factResultStorage, factCalculate) {

            $scope.results = factResultStorage.getAll();
            $scope.messageClass = 'visuallyhidden';
            setMarksSummary();
            $scope.addNewResult = function (newName, newMarks) {
                if (newName && newMarks) {
                    var newResult = factResult({
                        name: newName,
                        marks: parseInt(newMarks, 10)
                    });
                    factResultStorage.save(newResult);
                    $scope.results.push(newResult);                    
                    setMessage("message success", "Record have been saved successfully.");
                    clear();
                    setMarksSummary();
                } else {
                    setMessage("message error", "Please enter some value.");
                }                
            };

            $scope.editResult = function (result) {
                result.toggle();
            };

            $scope.saveEditedResult = function (result) {
                result.toggle();                
                factResultStorage.edit(result);
                setMarksSummary();
            };

            $scope.getTemplate = function (result) {
                if (result.isSelected)
                    return './templates/edit-record.html';
                else
                    return './templates/display-record.html';
            };

            function clear() {
                $scope.name = '';
                $scope.marks = '';
            }

            function setMessage(className, message) {
                $('#message').fadeIn();
                $scope.messageClass = className;
                $scope.message = message;
                setTimeout(function () {
                    $('#message').fadeOut();
                }, 1500)
            }

            function setMarksSummary() {                
                var marks = factCalculate($scope.results);
                $scope.minimum = marks.min;
                $scope.average = marks.avg;
                $scope.maximum = marks.max;
            }
        }]);
    </script>
</body>

</html>