<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>Report Card | Global Logic</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <!--[if !IE]><!-->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--<![endif]-->
    <!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="assets/css/style.static.css" />
	<link rel="stylesheet" type="text/css" media="print" href="assets/css/print.css" />
	<![endif]-->
    <!--[if gt IE 8]>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<![endif]-->

    <!--<script src="assets/js/libs/modernizr-2.6.2.min.js"></script>-->

    <script src="./assets/js/libs/angular.min.js"></script>

</head>

<body>
    <form>
        <div id="outer-wrap">
            <div id="inner-wrap">
                <div id="main" class="purple l-one-column" role="main" tabindex="0" ng-app="appReportCard" ng-controller="ctrlReportCard">
                    <div class="l-margins">
                        <div id="content-container" class="clearfix index-table">
                            <div id="content-main">
                                <h1>Report Card</h1>
                                <table class="new">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Add new record</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="name">
                                                <input type="text" required placeholder="Student's name" ng-model="name">
                                            </td>
                                            <td class="marks">
                                                <input type="number" required placeholder="marks" ng-model="marks">
                                            </td>
                                            <td class="edit">
                                                <input type="button" class="submit button primary" value="Submit" ng-click="addNewResult(name, marks)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <h4>Student summary</h4>
                                <table class="result">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Avatar</th>
                                            <th>Name</th>
                                            <th>Marks</th>
                                            <th>Status</th>
                                            <th>Edit/Save</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in results" ng-include="getTemplate(result)"></tr>
                                    </tbody>
                                </table>
                                <hr>
                                <table class="marks">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Marks summary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Mimimum:
                                            </td>
                                            <td>
                                                Average:
                                            </td>
                                            <td>
                                                Maximum:
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer" role="contentinfo">
                    <div class="l-margins footer-padding clearfix">
                        <div class="author">Author: Anand Dev Singh | Global Logic | ananddev.singh@globallogic.com</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        var appRC = angular.module("appReportCard", []);

        appRC.factory("factResult", function () {
            function Result(){}
            Result.prototype.toggle = function(){
                this.isSelected = !this.isSelected;
            }
            return function (defaults){
                var result = new Result();
                result.id = defaults.id;
                result.name = defaults.name || '';
                result.marks = defaults.marks || 0;
                return result;
            }
        })

        appRC.factory("factResultStorage", function(factResult){

            var storage = window.localStorage;
            var maxResultId = 0;

            function getAllResult(){
                var result = [];
                for(var i=0; i<storage.length; i++){
                    var key = storage.key(i);
                    var resultId = parseInt(key, 10);
                    if (resultId > maxResultId)
                        maxResultId = resultId;
                    var value = storage.getItem(key);
                    var resultObjData = angular.fromJson(value);
                    result.push(factResult(resultObjData));
                }
                return result;
            }

            function saveResult(result){
                if (!result.id)
                    result.id = ++maxResultId;
                storage.setItem(result.id, angular.toJson(result));
            }

            function deleteResult(result){
                storage.removeItem(result.id);
            }

            return {
                getAll : getAllResult,
                save : saveResult,
                remove : deleteResult
            };

        });

        appRC.controller("ctrlReportCard", ["$scope" , "factResult", "factResultStorage", function ($scope, factResult, factResultStorage) {

            $scope.results = factResultStorage.getAll();

            /*
                [
                    {
                        id: 1,
                        name: "Anand Dev",
                        marks: 35
                    },
                    {
                        id: 2,
                        name: "Sam hog",
                        marks: 90
                    },
                    {
                        id: 3,
                        name: "John Will",
                        marks: 65
                    }
                        ]
            */

            $scope.addNewResult = function(newName, newMarks){
                var newResult = factResult({name : newName, marks: newMarks});
                factResultStorage.save(newResult);
                $scope.results.push(newResult);
            };
            $scope.editResult = function(result){
                result.toggle();
                factResultStorage.save(result);
            };
            $scope.removeClosed = function(){
               for(var i=$scope.results.length-1; i>=0; i--){
                   var result = $scope.results[i];
                   if (result.isSelected){
                       factResultStorage.remove(result);
                       $scope.results.splice(i,1);
                   }
               }
            };


            /*$scope.studentsResult = {
                result: [
                    {
                        id: 1,
                        name: "Anand Dev",
                        marks: 35
                    },
                    {
                        id: 2,
                        name: "Sam hog",
                        marks: 90
                    },
                    {
                        id: 3,
                        name: "John Will",
                        marks: 65
                    }
                        ],
                selected: {}
            };*/

            // gets the template to ng-include for a table row / item
            $scope.getTemplate = function (result) {
                if ($scope.results.isSelected)
                    return './templates/edit-record.html';
                else
                    return './templates/display-record.html';
            };

           /* $scope.editContact = function (record) {
                $scope.studentsResult.selected = angular.copy(record);
            };

            $scope.saveContact = function (idx) {
                console.log("Saving contact");
                $scope.studentsResult.result[idx] = angular.copy($scope.studentsResult.selected);
                $scope.reset();
            };*/

            /*$scope.reset = function () {
                $scope.studentsResult.selected = {};
            };*/
        }]);
    </script>
</body>

</html>
