<td class="sno">
    {{r.id}}
</td>
<td class="avatar">
    <img src="./assets/img/avatar-48.png" alt="Avatar">
</td>
<td class="name">
    <input type="text" required placeholder="Student's name" value="{{r.name}}" ng-model="studentsResult.selected.name" />
</td>
<td class="marks">
    <input type="number" required placeholder="marks" value="{{r.marks}}" ng-model="studentsResult.selected.marks" >
</td>
<td class="status">
    <img src="./assets/img/circle-grey.png" alt="Status">
</td>
<td class="edit">
    <img src="./assets/img/save-24.png" ng-click="saveContact($index)" alt="Save">
</td>